@model IEnumerable<PlataformaWeb.Models.EmployeeModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contractTypeName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.roleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roleDescription)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.annualSalary)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contractTypeName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.roleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roleDescription)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.annualSalary)
            </td>
        </tr>
    }

</table>
